<div class="sidebar">
    <div class="menu list-group list-group-flush">

        <a class="list-group-item list-group-item-action" asp-controller="Home" asp-action="Index" asp-area="">
            <span class="oi oi-home" aria-hidden="true"></span> Home
        </a>

        <a class="list-group-item list-group-item-action" asp-controller="Events" asp-action="Index" asp-area="">
            <span class="oi oi-home" aria-hidden="true"></span> Events
        </a>

        <a class="list-group-item list-group-item-action" asp-controller="Category" asp-action="Index" asp-area="">
            <span class="oi oi-home" aria-hidden="true"></span> Categories
        </a>

        <a class="list-group-item list-group-item-action" asp-controller="Category" asp-action="Create" asp-area="">
            <span class="oi oi-home" aria-hidden="true"></span> Add category
        </a>
    </div>
</div>